._categories{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.card{
    margin: 20px;
    width: 36rem; //--> 576px height- 
    border-bottom: 3px solid;
    border-color: #c4c3c3;
    transition: all .2s ease-in-out;

    color: black;
}
.card:hover {
    transform: scale(1.1);
    border: 0px solid;
    border-bottom: 5px solid;
    border-color: #dda430;
    cursor: pointer;
}
._center_content{
    justify-content: center;
}
._main_padding{
    margin: 5% 0 2% 0
}