._about_shop_area{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    margin: 2% 20% 2% 20%;


    h2, p {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        color: white
    }

    ._minus{
        margin-bottom: -20px;
        color: #ffea80;
    }
    ._motto{
        font-weight: bold;
        text-transform: uppercase;
        font-family: 'Rubik', sans-serif;
        margin-top: 2%;
    }
}

._center_items{
    text-align: center;
}